.flipcardcontainer {
  /* --hue: 150; */
  --primary: hsl(var(--hue), 50%, 50%);
  --white-1: hsl(0, 0%, 90%);
  --white-2: hsl(0, 0%, 80%);
  --dark: hsl(var(--hue), 25%, 10%);
  --grey: hsl(0, 28%, 95%);

  width: 410px;
  height: 500px;
  margin: 40px;

  perspective: 1000px;
}

.flipcard{
  width: inherit;
  height: inherit;
  background-color: rgba(255, 255, 255, 0.2) ;
  position: relative;
  transform-style: preserve-3d;
  transition: .6s .1s;
  border-radius: 20px;
 
}

/* hover and focus-within states */
.flipcardcontainer:hover .flipcard,
.flipcardcontainer:focus-within .flipcard {
  transform: rotateY(180deg);
}

/* .card-... */
.cardfront,
.cardback {
  width: 100%;
  height: 100%;
  border-radius: 24px;

  background: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cardfront {
  transform: rotateY(0deg);
  z-index: 2;
}


.cardback {
  transform: rotateY(180deg);
  z-index: 1;
  background-color:   rgba(222, 177, 135, 0.2);

}

.fixedimagesize {
  height: 200px; 
  width: 350px;;
  margin-top: 0%;}


  .chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
   .messagebox {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: flex-start; */
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll  ;
  }
  
  .message {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0px 15px 5px 0px rgba(0,0,0,0.5);
    
    margin-bottom: 20px;
  }
  
  .messagesender {
    font-weight: bold;
    color: #333;
  }
  
  .messagebody {
    color: rgba(174, 125, 91, 0.8);
  }
  
  .message.input {
    display: flex;
    justify-content: space-between;
    background-color: rgba(174, 125, 91, 0.8);
    padding: 10px;
  }
  
  .message-input-field {
    flex: 1;
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin-right: 10px;
  }
  
  .message-send-button {
    background-color: rgba(174, 125, 91, 0.8);
    border: none;
    border-radius: 5px;
    color: black;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .message-send-button:hover {
    background-color: #0056b3;
  }